* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: EarlyGameboy;
    src: url(/Early-GameBoy.ttf);
  }
.body {
    display: flex;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gameboy {
    margin-top: 100px;
    display: flex;
    height: 500px;
    width: 400px;
    background-color: red;
    margin: 1px solid red;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 2px 3px 25px -6px #000000;
    -moz-box-shadow: 2px 3px 25px -6px #000000;
    -o-box-shadow: 2px 3px 25px -6px #000000;
    box-shadow: 2px 3px 25px -6px #000000;
}
.display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightslategray;
    width: 350px;
    height: 250px;
    border: 20px solid black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 20px;
    font-size: 75px;
    flex-direction: column;
    
}
.summ {
    font-size: 100px;
    font-family: "EarlyGameboy", sans-serif;
    margin-left: 40px;
}
.logo-write {
    display: flex;
    font-size: 19px;
    position: absolute;
    top: 348px;
    color:white;
}
.c {
    margin-left: 10px;
    color: red;
    font-size: 19px;
}
.o {
    color: violet;
    font-size: 19px;
}
.u {
    color: greenyellow;
    font-size: 19px;
}
.n{
    color: yellow;
    font-size: 19px;
}
.t {
    color: teal;
    font-size: 19px;
}
.e {
    color: salmon;
    font-size: 19px;
}
.r{
    color: sienna;
    font-size: 19px;
}
.plus {
    background-color:black;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: black;
    color: white;
    position: relative;
    top: 30px;
    left: 120px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.less {
    background-color:black;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: black;
    color: white;
    position: relative;
    top: 20px;
    left: 70px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-position {
    position: relative;
    right: 110px;
    top: -65px;
    border: 1px;
}
.reset {
    background:black;
    height: 100px;
    position: relative;
    width: 20px;
    border: black;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    position: relative;
    right: 110px;
    top: -65px;
    border: 1px;
}
.reset::after {
    background:black;
      content: "reset";
      height: 20px;
      left: -40px;
      position: absolute;
      top: 40px;
      width: 100px;
      color: white;
      border-radius: 5px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
    margin-top: 200px;

}
a {
    text-decoration: none;
    color: black
}
a:hover {
    color: red;
}
@media only screen and (max-width: 800px) {
.body {
    margin-top: 50px;
}
.logo-write {
    position: relative;
    top: 53px;
}
}
